# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/example/bin/*

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Project-local GB vendors/cache
/example/src/app/app
/example/pkg/*
/example/vendor/*
!/example/vendor/manifest
